# Name of the GCS bucket that /inputs/upload writes survey files to.
# See app.yaml for the value used in the deployed GAE environment.
CLOUD_STORAGE_INPUT_FILES=up-project-acts-input-files

# Path to a GCP service-account JSON key with Storage Object Admin on the
# bucket above. Required locally; on GAE this is provided automatically.
GOOGLE_APPLICATION_CREDENTIALS=./gcp-service-account.json
